main{
    display: flex;

    align-items: center;
    justify-content: space-evenly;

}


#pokemon-image{
    width: 32%;
    height: 70%;

    display: flex;
    border: 1px solid white;
}

#pokemon-image img{
    width: 22.813em;
    height: 22.813em;
    margin: auto;
    
}


#pokemon-infos{
    width: 26%;
    height: 70%;
    color: white;
    
    padding: 1%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly; 
    
}

#pokemon-description{
    font-size: 1.150em;   
}

#pokemon-types-section, #pokemon-imunes-section, #pokemon-weakness-section{
    display: flex;
    flex-direction: column;
    height: 20%;


    align-items: space-around;
    justify-content: space-evenly;
    
}

#pokemon-types, #pokemon-weaknessess, #pokemon-imunes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-type{
    width: 3em;
    height: 3em;
}

#pokemon-stats{
    width: 32%;
    height: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

#pokemon-stats-informations{
   
    height: 47%;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    

  
/*  height: 47%;
 background-color: orange;

 display: grid;
 grid-row: auto auto;
 grid-column-gap: 20px;
 grid-row-gap: 20px; */


}

.pokemon-stats-row{
    /* display: flex;
    align-items: center;
    justify-content: space-around;

    height: 33%;
    width: 100%; */
    
    
    padding:1em;
      
    display:flex;
    flex-direction: column;
    align-items:space-around;
    justify-content:space-around;
    
    font-family:sans-serif;

}
.pokemon-stats-column{
    height: 50%;
    padding: 0.7em;
}

.stats-name{
    color: #fff;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 0.1em;
}

.stats-value{
    font-weight: bolder;
    margin: 0.1em;
    color: #1d1d1d;;
}

.stats-value-gender{
    display: flex;
}

#pokemon-stats-graph{
 border-radius: 0;
}



