
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    color: red;
    background-color: black;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 0;
}

.noticia{ 
    border: 2px solid black;
    margin: 2px 30px 30px 2px;
    color: rgb(255, 153, 255);
}

#noticias{
    border: 3px solid purple;
    border-radius: 2%;
}


